@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #f0f0f0;
}

.login-container {
    background-color: transparent;
    border: 1px solid rgba(240, 240, 240, 0.2);
    border-radius: 10px;
    padding: 30px 30px;
    width: 420px;
    box-shadow: none;
    max-width: 340px;
}

.login-container h1 {
    font-size: 36px;
    text-align: center;
    color: #f0f0f0;
}

.conta-vermelho {
    color: #ff0000;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(240, 240, 240, 0.5);
    outline: none;
    font-size: 16px;
    color: #f0f0f0;
    padding: 20px 45px 20px 20px;
    border-radius: 40px;
}

.input-box input::placeholder {
    color: rgba(240, 240, 240, 0.7);
}

.input-box i {
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #f0f0f0;
}

.remember-forgot {
    display: flex;
    margin: -15px 0 15px;
    white-space: nowrap;
    justify-content: center;
    color: #f0f0f0;
}

.remember-forgot label input {
    accent-color: #ff0000;
}

.remember-forgot a {
    text-decoration: none;
    color: #f0f0f0;
    padding: 0px 10px;
    margin-left: auto;
    padding-left: 10px;
    white-space: nowrap;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 50px;
    background-color: #b20000;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    box-shadow: none;
    transition: background-color 0.3s ease;
}

.login:hover {
    background-color: #ff0000;
    color: #ffffff;
}

.register-link {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 5px;
    color: #f0f0f0;
}

.register-link a {
    text-decoration: none;
    color: #ff0000;
    font-weight: 500;
}

.register-link a:hover {
    text-decoration: underline;
}

.link-login {
    text-decoration: none;
    color: #f0f0f0;
}