body {
    font-family: 'Poppins', sans-serif;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    align-items: center;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    padding: 20px 20px;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: #242424;
    padding: 10px 0;
    box-sizing: border-box;
}

.profile-box {
    background-color: #242424;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

h2 {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
}

.llgr-red {
    color: #ff0000;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 15px 20px 15px 40px;
    border-radius: 18px;
    font-size: 16px;
    background-color: #888888;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.input-group input:focus {
    border-color: #ff0000;
}

.input-group i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
    font-size: 18px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;
    font-size: 15px;
    color: #555;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
    top: 1px;
}

.checkbox-group input[type="checkbox"]:checked {
    background-color: #ff0000;
    border-color: #ff0000;
}

.checkbox-group input[type="checkbox"]:checked::before {
    content: '\2713';
    display: block;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn-save {
    background-color: #ff0000;
    color: #fff;
    padding: 15px 0;
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.btn-save:hover {
    background-color: #cc0000;
}

.profile-links {
    margin-top: 20px;
    font-size: 15px;
}

.profile-links a {
    color: #ff0000;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.profile-links a:hover {
    text-decoration: underline;
}
